.insert {
  margin-left: 15px;
  padding: 0px 5px;
  border-radius: 3px;
  cursor: pointer;
}

.edit {
  height: 30px;
  background-color: #4dafff;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 1px 1px #3776a1;
}

.edit:hover {
  background-color: #1f7bc1;
  transition: 0.3s;
}

.delete {
  height: 30px;
  background-color: #e75858;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 1px 1px #842e2e;
}

.delete:hover {
  background-color: #953c3c;
  transition: 0.3s;
}
