.modal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
}

.modal_saving-content {
  position: fixed;
  width: 400px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #202020;
  color: #fff;
  padding: 32px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.modal_saving-content .header_modal-saving {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.close_modal-saving {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.text-fieldSaving {
  display: flex;
  flex-direction: column;
}

.text-fieldSaving input {
  height: 30px;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;
  outline: none;
  border: 1px solid #184C42;
  border-radius: 4px;
}

.form-image {
  display: flex;
  justify-content: center;
}

.text-fieldSaving input[type='file'] {
  display: none;
}

.selection-image {
  border: 1px solid #267565;
  border-radius: 5px;
  padding: 50px 0;
  color: #267565;
}

.selection-image:hover {
  border: 1px solid #1e574c;
  transition: 0.5s;
}

.selection-image > label {
  padding: 50px 50px;
}

.insertSaving {
  display: flex;
  justify-content: center;
}

.insertSaving button {
  width: 15vw;
  border: none;
  border-radius: 3px;
  background-color: #184C42;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  padding: 8px;
}

/* Cellphone size */
@media (max-width: 540px) {
  .modal_saving-content {
    width: 300px;
  }

  .insertSaving button {
    width: 100vw;
  }
}
