.all-savings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 40px;
}

/* Cellphone Size */
@media (max-width: 540px) {
  .all-savings {
    grid-template-columns: 1fr;
    gap: 50px;
    margin-bottom: 50px;
  }

  .content-savings {
    margin-left: 0px;
    padding: 10px;
  }
}

/* Tablet Size */
@media (max-width: 1024px) and (min-width: 500px) {
  .all-savings {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
