.invoice {
  width: 250px;
  height: 150px;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  padding: 15px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.384);
}

.header-invoice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.status[color='Pendente'] {
  height: 40px;
  border-radius: 20px;
  background-color: #daa70f;
}

.status[color='Paga'] {
  height: 40px;
  border-radius: 20px;
  background-color: #028124;
}

.invoice-details {
  height: 30px;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}

.invoice-details:hover {
  background-color: #f1f0f0;
  transition: 0.3s;
}

.invoice-details.dark {
  border-color: white;
}


.invoice-details.dark:hover {
  background-color: #494949;
  transition: 0.3s;
}

/* Desktop Size */
@media (max-width: 1560px) {
  .invoice {
    margin-bottom: 50px;
  }
}
