.all-spendings {
  overflow-x: auto;
}

table.spendings {
  width: 95%;
  color: white;
}

table.spendings > thead > tr > th {
  padding: 15px;
  background-color: #184c42;
}

table.spendings > thead > tr > th > span {
  display: flex;
  justify-content: center;
}

table.spendings > thead > tr > th > span > svg {
  padding-right: 10px;
}

table.spendings > tbody > tr:nth-child(even) {
  background-color: #313131;
}

table.spendings,
th,
td {
  text-align: center;
  padding: 10px 0px;
  border: 1px solid white;
  border-collapse: collapse;
}

.necessity[color='Baixa'] {
  background-color: red;
  padding: 0 10px;
  border-radius: 10px;
}

.necessity[color='Média'] {
  background-color: #bf920c;
  padding: 0 10px;
  border-radius: 10px;
}

.necessity[color='Extrema'] {
  background-color: #006c1d;
  padding: 0 10px;
  border-radius: 10px;
}

/* Desktop size */
@media (max-width: 960px) {
  table.spendings,
  th,
  td {
    padding: 10px;
  }
}

/* Cellphone size */
@media (max-width: 540px) {
  .all-spendings {
    margin-bottom: 50px;
  }
}
