#navbar {
  display: none;
  color: white;
  margin-bottom: 50px;
}

#navbar-content .header  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px 30px 20px;
}

#navbar-content .header .user {
  color: white;
}

#nav-items {
  display: flex;
  color: white;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  gap: 22px;
}

.nav-item a {
  color: white;
}

.nav-item.active {
  background-color: #184C42;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

/* Cellphone Size */
@media (max-width: 540px) {
  #navbar {
    display: block;
  }
}
