.saving {
  width: 350px;
  color: white;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.384);
}

.saving-image {
  width: 350px;
  height: 220px;
}

.saving-image img {
  width: 100%;
  height: 100%;
}

.saving-header h3 {
  color: white;
  padding-bottom: 15px;
}

.saving-details {
  padding: 20px;
}

.saving-information .information {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 8px;
  padding-bottom: 4px;
}

.progress-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.progress-bar {
  width: 200px;
  height: 15px;
  margin-right: 25px;
  padding: 0 0 4px 0;
  border-radius: 20px;
  background-color: #e9e9e9;
}

.progress-bar .progress {
  width: 100px;
  height: 100%;
  padding: 4px 0 0 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #23695b;
}

.progress-bar .fullProgress {
  width: 100px;
  height: 100%;
  padding: 4px 0 0 0;
  border-radius: 15px;
  background-color: #23695b;
}

.progress .bubble {
  display: flex;
  width: 90%;
  height: 5px;
  background-color: #3cb49c48;
  border-radius: 40px;
  margin: 0px 2px 0 4px;
}

.fullProgress .bubble {
  display: flex;
  width: 90%;
  height: 5px;
  background-color: #3cb49c48;
  border-radius: 40px;
  margin: 0px 2px 0 4px;
}
