.register-user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-user-content {
  min-width: 30%;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 8px;
}

.register-user-content:hover {
  box-shadow: 1px 2px 10px 5px #257464;
  transition: 0.5s;
}

.header-user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 15px;
}

.title-user h1 {
  font-family: 'SerifDisplay';
  font-weight: 400;
  font-size: 35px;
  color: white;
}

.registerButton {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.registerButton button {
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: #184c42;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0 15px 0;
  padding: 8px;
}

.toggle {
  padding-top: 10px;
}

.redirect-login {
  display: flex;
  justify-content: center;
  margin: 20px 0 15px 0;
  color: white;
}

.redirect-login a {
  color: #257464;
}

@media (max-width: 540px) {
  .register-user-content {
    width: 300px;
  }

  .title-user h1 {
    font-size: 28px;
  }
}
