.all-invoices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 40px;
  padding-top: 50px;
}

@media (max-width: 1560px) {
  .all-invoices {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .all-invoices {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 880px) {
  .all-invoices {
    column-gap: 30px;
    margin: 0;
  }
}

@media (max-width: 540px) {
  .all-invoices {
    justify-content: center;
    grid-template-columns: 1fr;
    margin: 0 40px;
  }
}
