@font-face {
  font-family: 'SerifDisplay';
  src: url(../../../assets/fonts/SerifDisplay/DMSerifDisplay-Regular.ttf);
}

.header-mobile {
  display: none;
}

.header-mobile .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-mobile img {
  width: 50px;
  height: auto;
}

.header-mobile h1 {
  font-size: 7vw;
  font-family: 'SerifDisplay';
  font-weight: 100;
  color: white;
}

.toggle-theme {
  margin-right: 5px;
}

/* Cellphone Size */
@media (max-width: 540px) {
  .header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    gap: 10px;
  }
}
