.all-spendings {
  overflow-x: auto;
}

.content-spendings {
  margin-left: 100px;
  padding: 50px 0px 0px 50px;
}

.header-spendings {
  display: flex;
  color: white;
  padding-bottom: 50px;
}

.header-spendings h1 {
  font-size: 25px;
  padding-left: 10px;
}

.necessity[color='Baixa'] {
  background-color: red;
  padding: 0 10px;
  border-radius: 10px;
}

.necessity[color='Média'] {
  background-color: #BF920C;
  padding: 0 10px;
  border-radius: 10px;
}

.necessity[color='Extrema'] {
  background-color: #006C1D;
  padding: 0 10px;
  border-radius: 10px;
}

/* Desktop size */
@media (max-width: 960px) {
  table.spendings, th, td {
    padding: 10px;
  }
}

@media (max-width: 540px) {
  .content-spendings {
    margin-left: 0px;
    padding: 20px;
  }
}
